:root {
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #f2f2f2;
}

header {
  width: 100%;
}

header nav {
  width: 100%;
  height: 3rem;
  display: flex;
  gap: 1rem;
  padding: 1rem 0 0.5rem 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(224, 224, 224, 0.734);
  position: fixed;
  top: 0px;
  left: 0px;
}

header nav input {
  width: 75%;
  height: 70%;
  border-radius: 25px;
  border: solid black 1px;
  padding-left: 3rem;
  font-size: 16px;
  transition: 0.1s;
  align-self: flex-end;
}

header nav input:focus {
  width: 70%;
  height: 95%;
  border-radius: 20px;
  border: solid black 1px;
}

header nav button {
  background-color: transparent;
  border: none;
}

main {
  margin-top: 8rem;
}

.productsDeals {
  display: grid;
  grid-template-columns: 45% 45%;

  gap: 4%;
  margin: 0 3%;
  width: 100%;
}
h2 {
  margin: 2rem 0 1rem 1rem;
}

.productsCardDeals {
  border-radius: 15px;
}

.productsCardDeals h4 {
  background-color: rgb(200, 0, 0);
  color: white;
  width: 4rem;
  padding: 0.2rem 0;
  text-align: center;
  border-radius: 5px;
  font-size: 15px;
  margin: 0.5rem 0 0.5rem 0.5rem;
}

.productsCardDeals h3 {
  color: rgb(200, 0, 0);
  font-size: 16px;
  margin: 0 0 0.5rem 0.5rem;
}

.pictureCard {
  width: 100%;
  height: auto;
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.pictureCard img {
  width: 90%;
  height: auto;
}

.dealsForYou {
  display: grid;
  grid-template-columns: 45% 45%;
  gap: 4%;
  margin: 0 3%;
  width: 100%;
  row-gap: 4rem;
}

.productsCard h3 {
  margin: 0.5rem 0 0.5rem 0.5rem;
}

.productsCard h4 {
  margin-left: 0.5rem;
}

.inSearch {
  background-color: #1f1f1f;
  height: 3.5rem;
  padding: 0.5rem 0 0.5rem 0;
}
